*.iml
db/
*.jpg
*.t7
*.model
*.data
src/scala/tiefvision-web/project/target
*.class
*.cache
*.*~
test-data
train-data
out
*.log
*.swp
*.jar
*.backup*
*.old*
ilsvrc_2012_mean.t7
*.jpeg
*.database
*.caffemodel
resources
data
deprecated
src/scala/tiefvision-web/public/bootstrap-3.3.6-dist
src/scala/tiefvision-web/public/images
src/scala/tiefvision-web/public/javascripts/bootstrap.min.js
src/scala/tiefvision-web/public/javascripts/jquery-2.2.0.js
src/scala/tiefvision-web/.idea
src/scala/tiefvision-web/activator
src/torch/models/
src/scala/tiefvision-web/target
src/torch/data/db
.idea

# H2 database
*.db
