@(rank: Int)

@{
  rank match {
    case 1 =>
    case 2 => "Second"
    case 3 => "Third"
    case 4 => "Fourth"
    case 5 => "Fifth"
    case 6 => "Sixth"
    case 7 => "Seventh"
    case 8 => "Eighth"
    case 9 => "Ninth"
    case 10 => "Tenth"
    case 11 => "Eleventh"
    case 12 => "Twelfth"
    case 13 => "Thirteenth"
    case 14 => "Fourteenth"
    case 15 => "Fifteenth"
    case 16 => "Sixteenth"
    case 17 => "Seventeenth"
    case 18 => "Eighteenth"
    case 19 => "Nineteenth"
    case 20 => "Twentieth"
    case _=> "Not a"
  }
}
